<div class="container">
  <div class="row">
    <% @islands.each do |island| %>
      <div class="col-lg-4">
        <%= link_to island_path(island), class:"text-decoration-none picture" do %>
          <div class="island">
            <ul>
              <li><%= island.name %></li>
              <li>£<%= island.price %> per night</li>
              <li><%= island.location %></li>
              <%= cl_image_tag island.photos.first.key, width: 200 unless island.photos.empty? %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
