<div class="container" style="width: 50%">
  <%= simple_form_for @island do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :photos, label: 'Upload a selection of island photos:', as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: "btn-search" %>
  <% end %>
</div>
