<header class="banner-show"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%= cl_image_path @island.photos.first.key, crop: :fill %>')">
    <h1> <%= @island.name  %> <h1>
</header>

<div class="box">
  <div class="card">
    <div>
      <h5>Location:</h5>
      <h3><%= @island.location %></h3>
      <h5>---------------------------<h5>
      <h5>Description:</h5>
      <h3><%= @island.description %></h3>
      <h5>---------------------------<h5>
      <h5>Price:</h5>
      <h3>£ <%= @island.price %> per night</h3>
      <h5>---------------------------<h5>
    </div>

    <div class="icons">
      <ul>
        <li><i class="fa-solid fa-house"></i></li>
        <li><i class="fa-solid fa-helicopter-symbol"></i></li>
        <li><i class="fa-solid fa-water-ladder"></i></li>
        <li><i class="fa-solid fa-plane"></i></li>
        <li><i class="fa-solid fa-sailboat"></i></li>
        <li><i class="fa-solid fa-wifi"></i></li>
        <li><i class="fa-solid fa-bicycle"></i></li>
        <li><i class="fa-solid fa-bath"></i></li>
        <li><i class="fa-solid fa-fish"></i></li>
        <li><i class="fa-solid fa-robot"></i></li>
        <li><i class="fa-solid fa-dice"></i></li>
        <li><i class="fa-solid fa-volcano"></i></li>
      </ul>
    </div>

    <div class="icons">
      <% if user_signed_in? %>
        <% if @island.user_id == current_user.id %>
          <ul>
              <li class="btn-book"><%= link_to "Edit Island",edit_island_path(@island), class: "link-to-text" %></li>
              <%# <li class="btn-book" id="btn-delete"><%= link_to "Delete", island_path(@island), class: "link-to-text", data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete this island"} </li> %>
          </ul>
        <% else %>
          <ul>
              <%# <li class="btn-book"><%= link_to "Book now", new_island_booking_path(@island), class: "link-to-text" </li> %>
          </ul>
        <% end %>
      <% else %>
            <ul>
                <%# <li class="btn-book"><%= link_to "Book now", new_island_booking_path(@island), class: "link-to-text" </li> %>
            </ul>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div>
    <%= simple_form_for [@island, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.button :submit, class: "btn-search" %>
    <% end %>
    </div>
  </div>
</div>
