<header class="banner-show"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%= cl_image_path @booking.island.photos.first.key, crop: :fill %>')">
    <h2 style="text-align:center; color:white;"> Congratulations! Your booking is confirmed!
      <br>
      Pack your bags, you're heading here on <%= @booking.start_date.strftime("%B %d, %Y")%>
   </h1>
</header>
<div class="card-container">
  <div class="container mt-5">
    <h2>Your Booking Information for <%= @booking.island.name %>:</h2>
    <h4>Dates:</h4> <p><%= "#{@booking.start_date.strftime('%B %d, %Y')} to #{@booking.end_date.strftime('%B %d, %Y')}" %></p>
    <h4>Location:</h4><p> <%= @booking.island.location %> </p>
    <h4>Total Price:</h4><p> £<%="#{@booking.total_price} based on a price per night of £#{@booking.island.price} "%> </p>
    <h4>Booking Status:</h4>
      <% if @booking.accepted == true %>
      <p style="color: green">
        Confirmed
      </p>
        <% else %>
      <p style="color: red">
        Not confirmed
      <% end %>
    </p>
  </div>
</div>
