<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dm6g22zui/image/upload/v1669114514/baaifrramr63ossu5e76.jpg" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <%# if user_signed_in? %>
          <li>
            <%= link_to "Add Island", new_island_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "My Bookings", user_bookings_path(current_user), class: "nav-link"  if user_signed_in?%>
          </li>
          <% if !current_user %>
            <li class="nav-item active">
              <%= link_to "Become a host", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
            <li class="nav-item dropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%# <% if current_user.photo.attached? %>
            <%# <% else %>
              <%# <%= image_tag "zakaria-ahada-VGR_ReUCqNw-unsplash", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%# <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Add Island", new_island_path, class: "dropdown-item" %>
                <%= link_to "Add Island", new_island_path%>
                <%# <%= link_to "Make booking", new_island_booking_path(current_user), class: "dropdown-item" %>
                <%= link_to "My bookings", user_bookings_path(current_user), class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          <%# else %>
            <!--li class="nav-item"-->
              <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
            <!--/li-->
          <%# end %>
          <% end %>
        </ul>
      </div>
    </div>
</div>
